<!-- Neemt de base.html als basis en voegt dit toe aan de aangemaakte block -->
{% extends "base.html" %}
{% block content %}
    <h2>{{ title }}</h2>
    <form method="POST">
        <label>Titel</label>
        <input type="text" name="title" value="{{ entry.title if entry else '' }}" required>
        <label>Inhoud</label>
        <textarea name="content" rows="10" style="width:100%">{{ entry.content if entry else ''}}</textarea>
        <button type="submit" class="btn btn-secondary">Opslaan</button>
        <a href="javascript:history.back()" class="btn btn-secondary">Terug</a>
    </form>
{% endblock %}